<div class="container">
    <div class="mt-3">
        <h1>Danh sách danh mục</h1>
        <div class="d-flex justify-content-end mt-3">
            <a [routerLink]="['/categories/add']" routerLinkActive="router-link-active" class="btn btn-primary">Thêm
                danh mục</a>
        </div>
        <ng-container *ngIf="categories$ | async as categories">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã danh mục</th>
                        <th>Tên danh mục</th>
                        <th>Đường dẫn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td>{{category.urlHandle}}</td>
                        <td><a [routerLink]="['/categories/update',category.id]" routerLinkActive="router-link-active" class="btn btn-primary" >Sửa</a></td>
                    </tr>

                </tbody>
            </table>
        </ng-container>
    </div>

</div>